<h1>{{title}}</h1>
<p>welcome to {{title}}</p>
<h1>{{article.title}}</h1>
<p>written bay {{article.author}}</p>
<a href="/articles/edit/{{article._id}}" class="btn btn-deafut">Edit</a>
<a class="btn btn-danger delete-article" href="#" data-id={{article._id}}>Delete</a>
